<!-- 这里显示错误消息的日志，显示完后，需要自动清除错误消息 -->

<% if(locals.messages) { %>
    <% messages.forEach(function(message) { %>
        <p class="<%= message.type %>"><%= message.string %></p>
    <% }) %>
    <% removeMessages() %>
<% } %>